@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  body {
    font-family: 'Plus Jakarta Sans';
  }
}

@layer components {
  .heading-xl {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  .heading-l {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  }

  .heading-m {
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
  }

  .heading-s {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
  }

  .body-l {
    font-weight: medium;
    font-size: 13px;
    line-height: 23px;
  }

  .body-m {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }

  .shadowCard {
    box-shadow: 0 4px 6px rgba(54, 78, 126, 0.1015);
  }

  .TextField {
    @apply body-l h-10 w-full rounded border px-4 outline-none placeholder:text-black/25 dark:bg-darkGrey dark:text-white dark:placeholder:text-white/25;
  }
}
